# https://docs.flatpak.org/en/latest/freedesktop-quick-reference.html#desktop-files

[Desktop Entry]
Name=Go flatpak demo
Exec=com.github.go-flatpak-demo
Terminal=true
Type=Application
Comment=A demo go application
Icon=com.github.go-flatpak-demo
